LISTING_DATABASE_URL=postgres://postgres:postgres@listing-db:5432/listing_service_db
ORDER_DATABASE_URL=postgres://postgres:postgres@order-db:5432/order_service_db
NOTIFICATION_DATABASE_URL=postgres://postgres:postgres@notification-db:5432/notification_service_db
KAFKA_BROKERS=redpanda:9092
ORDER_SERVICE_URL=http://order:3001/orders
LISTING_SERVICE_ADDRESS=listing:50051
PAYMENT_SERVICE_ADDRESS=payment:50052
LISTING_GRPC_BIND_ADDRESS=0.0.0.0:50051
PAYMENT_GRPC_BIND_ADDRESS=0.0.0.0:50052
ORDER_AMOUNT=100
