LISTING_DATABASE_URL=postgres://localhost:5432/listing_service_db
ORDER_DATABASE_URL=postgres://localhost:5432/order_service_db
NOTIFICATION_DATABASE_URL=postgres://localhost:5432/notification_service_db
KAFKA_BROKERS=localhost:9092
